.cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2em;
    background: #6b705c;
    padding: 3em;
    margin-top: 3em;
}

.font {
  font-family: sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: .8em;
  color: #FFF;
}


.input {
  display: inline-block;
  border:transparent;
  border-radius: 2em;
  text-align: left;
  box-shadow: 0.5px 2px rgba(255, 255, 255, 0.37);
  padding: 5px;
  width: 100%;
  margin: 13px 0;
  background: transparent;
  color: #202020;
}

.inputSelectCountry {
  display: inline-block;
  border: none;
  text-align: left;
  /* box-shadow: 3px 2px rgba(255, 255, 255, 0.37); */
  width: 28.5em;
  margin-left: 5px;
  background: transparent;
  color: #202020;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.452);
  opacity: 1; /* Firefox */
}

.btn {
  height: 2em;
  width: 100%;
  font-size: 1.5em;
  color: #6b705c;
  border-radius: 2em;
  border:none;
  box-shadow: 3px 2px rgba(255, 255, 255, 0.37);
  background-color: #ddbea9;
  margin-top: 2em;
}
.btn:hover {
  color: #6b705c;
  border-radius: 2em;
  background-color: white;
  }
