* {
  box-sizing: border-box;
  font-family: "Yaldevi", sans-serif;
  margin: 0;
}
 
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    #cb997e,
      rgba(68, 101, 73, 0.562)
    ),
    url("../media/landing1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center; 
}

.title h1 {
  font-family: 'monospace', sans-serif;
  color: #fff;
  line-height: 50px; 
  font-size: 4.5em;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 80px 30px 10px 40px;
  text-transform: uppercase; 
}

.text {
  margin-bottom: 40px;
  padding: 30px 60px;
}

@keyframes orderText {
  from {font-weight: 15em; letter-spacing: 3em }
  to {  font-weight: 15px;
    letter-spacing: 7px;}
}

.text p {
  color: #fff;
  font-size: 15px;
  letter-spacing: 7px;
  text-transform: uppercase; 
  text-align: left;
  animation-name: orderText;
  animation-duration: 5s;
}


.button {
  background-color: #cb997e;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 12px -8px #b7b7a4;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #b7b7a4; /* Green */
  color: white;
  box-shadow: 12px -8px #cb997e;
}

@media (max-width: 720px) {
  
  .container {
    position: fixed;
    width: 100%;
  }
  
  .title h1 {
    font-size: 30px;
    margin: -30px;
  }
  
.text {
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 30px 60px;
}

  .text p {
    font-size: 13px;
    text-align: center;
  }

}
