
.ctn {
    background-image: url('./background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
    width: 1366px;
    height: 625px;
   

}

.btn {
    background-color: transparent;
    border: none;
    font-family: 'Yaldevi', sans-serif;
    font-size: 70px;
    color: whitesmoke;
}

.btn:hover{
    background-color: yellowgreen;
    animation-duration: 3s;
    animation-name: hover;
    animation-iteration-count: 1;
}

@keyframes hover {
    100% {
        width: 400px;
        height: 500px;
    }
}