
.container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .input {
    display: inline-block;
    border: none;
    padding: 5px;
    width: 15em;
    height: 20px;
    /* border: none; */
    text-align: left;
    box-shadow: 3px 2px rgba(255, 255, 255, 0.37);
    padding: 10px;
    margin: 10px 0;
    background: transparent;
    color: white;
  }


  ::placeholder { 
    color: white;
    opacity: 1; 
    border: none;
  }
  
  .input:focus{
    color: white;
    border: none;
  }
  
  .searchButton {
    width: 3em;
    height: 3em;
    border: 3px solid #b7b7a4;
    background: #a9c5a9;
    text-align: center;
    color: #fff;
    border-radius: 1em;
    cursor: pointer;
    font-size: 10px;
  }
