.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

label {
    color:white;
}
.placeHolder {
    width: 100px;
    height: 100%;
}

.cnt{
    background-color:greenyellow;
}

.text{
    color: blanchedalmond;
}