.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: auto;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.placeHolder {
    width: 100px;
    height: 100%;
}

.cnt{
    background-color:greenyellow;
}

.text{
    color: blanchedalmond;
}