.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: auto;
    margin-left: 50px;  
    margin-right: 50px;
}

.btn {
    border:none;
    background-color: white;
    font-size: 'Roboto', sans-serif;
}

.btn:hover {
    background-color:rgb(165, 240, 16);;
}